<style>
  .masthead, .masthead .inner-wrap {
    background-color: #252a34 !important; 
    position: relative;
    z-index: 999 !important;
  }
  
  .masthead {
    border-bottom: 1px solid #333;
  }

  .masthead__site-title,
  .site-title,
  .masthead__menu-item--brand {
    display: none !important;
    visibility: hidden !important;
  }

  a, a:visited { color: #48c774; }
  a:hover, a:focus { color: #3da863 !important; }
  
  .greedy-nav a:hover {
    color: #48c774 !important;
  }
  .greedy-nav .visible-links a:hover {
    color: #48c774 !important;
  }

  .btn--primary {
    background-color: #48c774 !important;
  }
  
  .page__content a {
    color: #48c774 !important;
  }
  .page__content a:hover {
    color: #3da863 !important;
  }
</style>