{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% assign logo_url = logo_path | relative_url %}

<div class="masthead" style="background-color: #252a34 !important; border-bottom: 1px solid #333; position: relative; z-index: 999;">
  <div class="masthead__inner-wrap" style="background-color: #252a34 !important;">
    <div class="masthead__menu">
      <nav class="greedy-nav" style="background-color: #252a34 !important;">
        
        <a class="site-logo" href="{{ '/' | relative_url }}">
          <img src="{{ logo_url }}" alt="">
        </a>
        
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}" 
                 style="color: #fff;" 
                 onmouseover="this.style.color='#48c774'" 
                 onmouseout="this.style.color='#fff'">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>