{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% assign logo_url = logo_path | relative_url %}

<style>
  .custom-nav-link {
    display: block;
    position: relative;
    color: #fff !important;
    text-decoration: none !important;
    border: none !important;
    box-shadow: none !important;
    padding-bottom: 5px;
  }

  .custom-nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 4px;
    background-color: #48c774;
    transition: width 0.3s ease-in-out;
  }

  .custom-nav-link:hover {
    color: #fff !important;
    box-shadow :none !important;
  }
  
  .custom-nav-link:hover::after {
    width: 100%; 
  }

  .greedy-nav a {
    box-shadow: none !important;
    text-decoration: none !important
  }
</style>

<div class="masthead" style="background-color: #252a34 !important; border-bottom: 1px solid #333; position: relative; z-index: 999;">
  <div class="masthead__inner-wrap" style="background-color: #252a34 !important;">
    <div class="masthead__menu">
      <nav class="greedy-nav" style="background-color: #252a34 !important;">
        
        <a class="site-logo" href="{{ '/' | relative_url }}">
          <img src="{{ logo_url }}" alt="">
        </a>
        
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}" class="custom-nav-link">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>